<a href="https://colab.research.google.com/github/ppranjal026-bit/IBM-Project-Presentation/blob/main/Pranjal_pandey_(python_program).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# PYTHON CLEAN  CODING:
# UNIT 1 AND 2 :

In [ ]:
s = "pranjal pandey"
for i in range(1, 10, 1):
    print(i, s )

1 pranjal pandey
2 pranjal pandey
3 pranjal pandey
4 pranjal pandey
5 pranjal pandey
6 pranjal pandey
7 pranjal pandey
8 pranjal pandey
9 pranjal pandey

In [ ]:
print("my name is pranjal pandey", "my age is 18.")

my name is pranjal pandey my age is 18.

In [ ]:
print(23)
print(37+23)
a = 23
b = 37
print(a+b)
print(b-a)

23
60
60
14

In [ ]:
name = "pranjal pandey"
age = 18
price = 50.25
print(type(name))
print(type(age))
print(type(price))
print(name)
print(age)
print(price)

<class 'str'>
<class 'int'>
<class 'float'>
pranjal pandey
18
50.25

In [ ]:
# airthmathic operator

In [ ]:
a = 15
b = 25
print(a+b)
print(a-b)
print(a*b)
print(a/b)

40
-10
375
0.6

In [ ]:
 a = 50
 b = 70
 print(a==b)
 print(a!=b)
 print(a>b)
 print(a>=b)
 print(a<b)
 print(a<=b)

False
True
False
False
True
True

In [ ]:
num = 35
num = num +10
print(num)

45

In [ ]:
a = True
b = False
print(not(a))
print(not(b))

False
True

In [ ]:
val1 = True
val2 = False
print(val1 and val2)
print(val1 or val2)

False
True

In [ ]:
# Type conversion

In [ ]:
a = input("enter your name:")
print("welcome",a)

enter your name:Pranjal pandey
welcome Pranjal pandey

In [ ]:
a = int(input("enter your age"))
print("enter age", a)

enter your age18
enter age 18

In [ ]:
 name = str(input("enter your name:"))
 age = int(input("enter age:"))
 marks = float(input("enter marks:"))

 print("welcome", name)
 print("age", age)
 print("marks", marks)

enter your name:Pranjal Pandey
enter age:18
enter marks:76.54
welcome Pranjal Pandey
age 18
marks 76.54

In [ ]:
a = int(input("enter first:"))
b = int(input("enter second:"))
print("sunm", a + b)

enter first:25
enter second:35
sunm 60

In [ ]:
side = float(input("enter square side"))
print("area=", side**2)
print("area=", side * side)

enter square side5
area= 25.0
area= 25.0

In [ ]:
a = float(input("enter your number :"))
b = float(input("enter your number :"))
print("avg=", (a + b )/2)

enter your number :10
enter your number :20
avg= 15.0

In [ ]:
a = int(input("enter first number :"))
b = int(input("enter second number :"))
print(a>=b)

enter first number :5
enter second number :10
False

In [ ]:
a = int(input("enter first number :"))
b = int(input("enter second number :"))
print(a>=b)

enter first number :14
enter second number :10
True

In [ ]:
# UNIT 3 AND 5:

In [ ]:
val = {'day1':330,'day2': 300,'day3':500, 'day4': 270}
print(val)

{'day1': 330, 'day2': 300, 'day3': 500, 'day4': 270}

In [ ]:
# LIST :
# Empty List

lst = []
print(type(lst))

<class 'list'>

In [ ]:
# List of integer:
lst1 = [12, 37, 98]
print(lst1)
print(type(lst1))

[12, 37, 98]
<class 'list'>

In [ ]:
# List of string:

lst2 = ['BCA', 'BBA', 'PRANJAL']
print(lst2)
print(type(lst2))

['BCA', 'BBA', 'PRANJAL']
<class 'list'>

In [ ]:
# List of mixed data types

lst3 = [29, 67.4, 'United', False, 1-2j]
print(lst3)
print(type(lst3))

[29, 67.4, 'United', False, (1-2j)]
<class 'list'>

In [ ]:
# Ordered

lst4 = [12, 78.9, 'MBA', 1-5j]
print(lst4)

[12, 78.9, 'MBA', (1-5j)]

In [ ]:
# Allowing Duplicate values

lst5 = ['apple','grapes','oranges','grapes','lemon','lemon']
print(lst5)

['apple', 'grapes', 'oranges', 'grapes', 'lemon', 'lemon']

In [ ]:
# Indexing in a list

lst6 = [29, 67.4, 'United', False, 1-2j]
print(lst6)
print(lst6[2])
print(lst6[-3])
print(lst6[1])
print(lst6[-2])

[29, 67.4, 'United', False, (1-2j)]
United
United
67.4
False

In [ ]:
# Changeable property of lists

lst6 = [29, 67.4, 'United', False, 1-2j]
print(lst6)
lst6[-2] = True
print(lst6)

[29, 67.4, 'United', False, (1-2j)]
[29, 67.4, 'United', True, (1-2j)]

In [ ]:
# Checking the length of a list

lst6 = [29, 67.4, 'United', False, 1-2j]
print(lst6)
print(len(lst6))

[29, 67.4, 'United', False, (1-2j)]
5

In [ ]:
# Reversing a list

lst6.reverse()
print(lst6)

[(1-2j), False, 'United', 67.4, 29]

In [ ]:
# Nested List

lst7 = [[True,12.5,True],[13,'BCA']]
print(lst7)
print(lst7[1])
print(lst7[-2])

[[True, 12.5, True], [13, 'BCA']]
[13, 'BCA']
[True, 12.5, True]

In [ ]:
# Adding new elements to a list
lst = []
print(len(lst))

0

In [ ]:
# append()

lst.append(4)
print(lst)
print(len(lst))

[4]
1

In [ ]:
lst.append('pranjal')
lst.append(1-6j)
lst.append('BCA')
print(lst)

[4, 'Jatin', (1-6j), 'BCA', 'pranjal', (1-6j), 'BCA']

In [ ]:
# extend()
lst1 = ['Harish','Lalit',54]
print(lst1)
lst1.extend([21,True,56.9])
print(lst1)

['Harish', 'Lalit', 54]
['Harish', 'Lalit', 54, 21, True, 56.9]

In [ ]:
# insert()

lst1 = ['Harish','Lalit',54]
print(lst1)
lst1.insert(1,64)
lst1.insert(2,True)
lst1.insert(4,2-8j)
print(lst1)

['Harish', 'Lalit', 54]
['Harish', 64, True, 'Lalit', (2-8j), 54]

In [ ]:
# Removal of items from a list:

# remove() function
df = [24, 89, "Ikshit", 7-8j, "Manish"]
print("Original List :",df)
df.remove(89)
df.remove("Ikshit")
df.remove(7-8j)
print("After removal :", df)

Original List : [24, 89, 'Ikshit', (7-8j), 'Manish']
After removal : [24, 'Manish']

In [ ]:
# pop() function
df = [24, 89, "Ikshit", 7-8j, "Manish"]
print("Original List :",df)
df.pop()
df.pop()
df.pop()
df.pop()
df.pop()
print("After Removal :",df)
print("Current Length of the list: ", len(df))

Original List : [24, 89, 'Ikshit', (7-8j), 'Manish']
After Removal : []
Current Length of the list:  0

In [ ]:
# Slicing in a list:
lst2 = ['P','Y','T','H','O','N']
print(lst2[0:3:1]) #start:stop:step
print(lst2[:3]) # start = 0 (default), step = 1 (default)
print(lst2[1:5:1])
print("Two step position: ",lst2[0:5:2])
print("Entire list: ", lst2[::1])
print("Reversing a list: ", lst2[::-1])
print("Reversing a list with two intervals: ", lst2[::-2])

['P', 'Y', 'T']
['P', 'Y', 'T']
['Y', 'T', 'H', 'O']
Two step position:  ['P', 'T', 'O']
Entire list:  ['P', 'Y', 'T', 'H', 'O', 'N']
Reversing a list:  ['N', 'O', 'H', 'T', 'Y', 'P']
Reversing a list with two intervals:  ['N', 'H', 'Y']

In [ ]:
# TUPPLES: