<a href="https://colab.research.google.com/github/ppranjal026-bit/IBM-Project-Presentation/blob/main/PROBLEM_SLOVING_TECHNIQUE_(PST)_CODE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# PROBLESM SOLVING TECHNIQUE PRACTICE CODE

In [ ]:
# THE PRIME NUMBER

number = int(input("Enter a number: "))

if number <= 1:
    print(number, "is not prime.")
else:
    for i in range(2, number):
        if number % i == 0:
            print(number, "is not prime.")
            break
    else:
        print(number, "is prime.")

Enter a number: 5
5 is prime.

In [ ]:
# THE HCF OF TWO NUMBER
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
if num1 > num2:
 smaller = num2
else:
 smaller = num1
for i in range(1, smaller + 1):
 if num1 % i == 0 and num2 % i == 0:
     hcf = i

print(f"The HCF of {num1} and {num2} is {hcf}.")

Enter the first number: 33
Enter the second number: 46
The HCF of 33 and 46 is 1.

In [ ]:
# REVERSE NUMBER

n = int(input("Enter a number: "))
rev = 0

while n > 0:
    rem = n % 10
    rev = rev * 10 + rem
    n = n // 10

print("Reverse of a number is", rev)

Enter a number: 6532
Reverse of a number is 2356

In [ ]:
  n = int(input("Enter a number: "))
  rev = 0

  while n > 0:
    rem = n % 10
    rev = rev * 10 + rem
    n = n // 10

    print("Reverse of a number is", rev)

Enter a number: 54321
Reverse of a number is 1
Reverse of a number is 12
Reverse of a number is 123
Reverse of a number is 1234
Reverse of a number is 12345

In [ ]:
# THE HCF AND GCD
num1 = int(input("Enter the smaller number: "))
num2 = int(input("Enter the greater number: "))
a, b = num1, num2
while b != 0:
  a, b = b, a % b
  print("The HCF (GCD) of", num1, "and", num2, "is:", a)

Enter the smaller number: 43
Enter the greater number: 54
The HCF (GCD) of 43 and 54 is: 54
The HCF (GCD) of 43 and 54 is: 43
The HCF (GCD) of 43 and 54 is: 11
The HCF (GCD) of 43 and 54 is: 10
The HCF (GCD) of 43 and 54 is: 1

In [ ]:
# AUTOMORPHIC NUMBER
num = int(input("enter a number"))
square = num * num
str_num = str(num)
str_square = str(square)
if str_square.endswith(str_num):
  print(f"{num} is an Automorphic number.")
else:
  print(f"{num} is not an Automorphic number.")

enter a number 5
5 is an Automorphic number.

In [ ]:
# HARSHAD NUMBER
num = int(input("enter a number"))
sum_of_digits = sum(int(digit) for digit in str(num))
if num % sum_of_digits == 0:
      print(f"{num} is a Harshad number.")
else:
       print(f"{num} is not a Harshad number.")

enter a number18
18 is a Harshad number.

In [ ]:
num = int(input("enter a number"))
sum_of_digits = sum(int(digit) for digit in str(num))
if num % sum_of_digits == 0:
      print(f"{num} is a Harshad number.")
else:
       print(f"{num} is not a Harshad number.")

enter a number19
19 is not a Harshad number.

In [ ]:
# PERFECT NUMBER
num = int(input("Enter a number: "))
sum_of_divisors = 0

for i in range(1, num):
    if num % i == 0:
        sum_of_divisors = sum_of_divisors + i

if sum_of_divisors == num:
    print(f"{num} is a Perfect number.")
else:
    print(f"{num} is not a Perfect number.")

Enter a number: 6
6 is a Perfect number.

In [ ]:
from enum import verify
# STRONG NUMBER
import math

num = int(input("Enter a number: "))
original_num = num
sum_of_factorials = 0

while num > 0:
    digit = num % 10
    sum_of_factorials += math.factorial(digit)
    num //= 10

if sum_of_factorials == original_num:
    print(f"{original_num} is a Strong number.")
else:
    print(f"{original_num} is not a Strong number.")

Enter a number: 145
145 is a Strong number.

In [ ]:
# LCM of two number
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

a, b = num1, num2

while b != 0:
    a, b = b, a % b

lcm = (num1 * num2) // a
print("LCM of", num1, "and", num2, "is", lcm)

Enter first number: 4
Enter second number: 6
LCM of 4 and 6 is 12

In [ ]:
# Factor:
num = int(input("Enter a number: "))

print(f"Factors of {num} are:", end=" ")
i = 1

while i <= num:
  if num % i == 0:
    print(i, end=" ")
    i += 10

Enter a number: 0
Factors of 0 are:

In [ ]:
# factor  using two number loop:
num = int(input("Enter a number: "))

print(f"Factors of {num} are:", end=" ")

for i in range(1, num + 1):
  if num % i == 0:
    print(i, end=" ")

Enter a number: 5
Factors of 5 are: 1 5

In [ ]:
# Abundunt number:
number = int(input("Enter a number to check if it's abundant: "))

divisors_sum = 0

for i in range(1, number):
    if number % i == 0:
        divisors_sum += i

if divisors_sum > number:
    print(f"{number} is an abundant number.")
else:
    print(f"{number} is not an abundant number.")

Enter a number to check if it's abundant: 12
12 is an abundant number.

In [ ]:
# freindly pair:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

sum_divisors_num1 = 0
for i in range(1, num1):
    if num1 % i == 0:
        sum_divisors_num1 += i

sum_divisors_num2 = 0
for i in range(1, num2):
    if num2 % i == 0:
        sum_divisors_num2 += i

if sum_divisors_num1 == num2 and sum_divisors_num2 == num1:
    print(f"{num1} and {num2} form a friendly pair.")
else:
    print(f"{num1} and {num2} are not a friendly pair.")

Enter the first number: 220
Enter the second number: 284
220 and 284 form a friendly pair.

In [ ]:
# largest array in element:
arr = [3, 9, 2, 14, 6, 11]

if len(arr) == 0:
    print("Array is empty")
else:
    largest = arr[0]

    for i in range(1, len(arr)):
        if arr[i] > largest:
            largest = arr[i]

    print("Largest element is:", largest)

Largest element is: 14

# New Section

In [ ]:
 # smallest element of array:
 arr = [3, 9, 2, 14, 6, 11]
 if len(arr) == 0:
  print("arrey is empty")
else:
  smallest = arr[0]
  for i in range(1,len(arr)):
   if arr[i] < smallest:
    smallest = arr[i]
    print("Smallest element is:", smallest)

Smallest element is: 2

In [ ]:
# Smallest and largest element in array:

arr = [23, 35, 46, 57, 21]

smallest = arr[0]
largest = arr[0]

for num in arr:
    if num < smallest:
        smallest = num
    if num > largest:
        largest = num

print("Smallest element in array is:", smallest)
print("Largest element in array is:", largest)

Smallest element in array is: 21
Largest element in array is: 57

In [ ]:
# Second smallest element in array:
arr = [12, 3, 5, 7, 19, 1 ]

smallest = float('inf')
second_smallest = float('inf')

for num in arr:
    if num < smallest:
        second_smallest = smallest
        smallest = num
    elif num < second_smallest and num != smallest:
        second_smallest = num

print("The second smallest element in the array is:", second_smallest)

The second smallest element in the array is: 3

In [ ]:
# sum of element in array:

arr = [1, 2, 3, 4, 5]
total = 0
for element in arr:
  total += element
print("Sum of elements in the array:", total)

Sum of elements in the array: 15

In [ ]:
# Reverse in array:

arr = [1, 2, 3, 4, 5]
start = 0
end = len(arr) - 1

while start < end:
    arr[start], arr[end] = arr[end], arr[start]
    start += 1
    end -= 1

print("Reversed array:", arr)

Reversed array: [5, 4, 3, 2, 1]

In [ ]:
 # Another program :
 arr=[1,2,3,4,5]
 print("Original array:")
 for i in range(0,len(arr)):
  print(arr[i],end=" ")
  print("\nArray in reverse order: ")

  for i in range(len(arr)-1,-1,-1):
    print(arr[i], end=" ")

Original array:
1
Array in reverse order:
5 4 3 2 1 2
Array in reverse order:
5 4 3 2 1 3
Array in reverse order:
5 4 3 2 1 4
Array in reverse order:
5 4 3 2 1 5
Array in reverse order:
5 4 3 2 1

In [ ]:
# Pattern coding

 print("*")
 print("***")
 print("*****")
 print("*******")
 print("*********")

*
***
*****
*******
*********

In [ ]:
 print("*********")
 print("*******")
 print("*****")
 print("***")
 print("*")

*********
*******
*****
***
*

In [ ]:
n = int(input("Enter the number row: "))
print("*"*n)

Enter the number row: 5
*****

In [ ]:
n = 5
for i in range(n):
  for j in range(n):
      print("*", end='')
  print()

*****
*****
*****
*****
*****

In [ ]:
# Increasing Triangle program

n = 5
for i in range(n):
  for j in range(i+1):
     print("*", end='')
  print()

*
**
***
****
*****

In [ ]:
# Decreasing Triangle program

n = 5;
for i in range(n):
  for j in range(i,n):
      print('*',end='')
  print()

*****
****
***
**
*

In [ ]:
# Right sided Triangle

n = 5
for i in range(n):

    for j in range(i, n):
        print(" ", end="")

    for j in range(i + 1):
        print("*", end="")

    print()

     *
    **
   ***
  ****
 *****

In [ ]:
# Left sided triangle

n = 5
for i in range(n):
    for j in range(i, n):
        print('*', end='')
    print()

*****
****
***
**
*

In [ ]:
# Hill Pattern

n = 5
for i in range(n):

    for j in range(i, n):
        print(' ', end='')

    for j in range(i + 1):
        print('*', end='')

    for j in range(i):
        print('*', end='')

    print()

     *
    ***
   *****
  *******
 *********

In [ ]:
# Unit - 5
# 1. Fibbonacci series
n = int(input("Enter the number of terms: "))
a, b = 0, 1

for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter the number of terms: 12
0 1 1 2 3 5 8 13 21 34 55 89

In [ ]:
# while loop using Fibbonacci series
n = int(input("Enter Number: "))
x = 0
y = 1
z = 0

while z <= n:
    print(z)
    x = y
    y = z
    z = x + y

Enter Number: 12
0
1
1
2
3
5
8

In [ ]:
# Traiungular number series

n = int(input("Enter the number of terms: "))

for i in range(1, n + 1):
    triangular_number = (i * (i + 1)) // 2
    print(triangular_number, end=" ")

Enter the number of terms: 5
1 3 6 10 15

In [ ]:
# Square Number Series

n = int(input("Enter the number of terms: "))

for i in range(1, n + 1):
  print(i ** 2, end=" ")

Enter the number of terms: 10
1 4 9 16 25 36 49 64 81 100

In [ ]:
# Cube Number Series

n = int(input("Enter the number of terms: "))
for i in range(1, n + 1):
  print(i**3, end=" ")

Enter the number of terms: 6
1 8 27 64 125 216

In [ ]:
# Alphabet Traingle

n = 4

for i in range(n):
    ch = 'A'
    for j in range(i + 1):
        print(ch, end=" ")
        ch = chr(ord(ch) + 1)
    print()

A
A B
A B C
A B C D

In [ ]:
# Number Triangle

n = 4

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4

In [ ]:
# Fibbonacci Traingle

n = 4
a, b = 0, 1

for i in range(1, n + 1):
    for j in range(i):
        print(a, end=" ")
        a, b = b, a + b
    print()

0
1 1
2 3 5
8 13 21 34